<%- include ("../partials/header"); %>

<div class="container">

    <!-- ------------- -->
    <!-- list overview -->
    <!-- ------------- -->
    <div class="row list-overview task-overview mx-0 mt-9 mb-2 align-items-center">

        <!-- breadcrumb: href to all lists -->
        <nav aria-label="breadcrumb" class="col-sm-9 list-overview-nav">
            <ol class="breadcrumb my-0 px-0">
                <li class="breadcrumb-item"> <a href="/lists"> My Lists </a> </li>
                <li class="breadcrumb-item active" aria-current="page"> Add New List </li>
            </ol>
        </nav>

        <div class="col-sm-3 py-2 d-flex justify-content-end list-overview-buttons">

            <!-- reset current task button -->
            <button class="btn btn-xs mx-2" id="add-task-form-reset-button">
                <i class="fas fa-redo pr-1"></i> Reset Form
            </button>

        </div>

    </div>

    <!-- ------------------ -->
    <!-- form: add new list -->
    <!-- ------------------ -->
    <div class="task-form p-3">
        <form action="/lists" method="POST" id="add-task-form">

            <!-- ---------------- -->
            <!-- list[name] field -->
            <!-- ---------------- -->
            <div class="form-group row form-line">
                <label for="list-name" class="col-sm-2 pr-0 col-form-label">
                    <i class="fas fa-asterisk ita pr-1"></i> Name:
                </label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control form-input" rows="1" maxlength="65" id="list-name"
                        name="list[name]" required></textarea>
                </div>
            </div>

            <!-- ----------------------- -->
            <!-- list[description] field -->
            <!-- ----------------------- -->
            <div class="form-group row form-line">
                <label for="list-description" class="col-sm-2 pr-0 col-form-label">
                    <i class="fas fa-asterisk ita pr-1"></i> Description:
                </label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control form-input" rows="3" maxlength="250" id="list-description"
                        name="list[description]"></textarea>
                </div>
            </div>

            <!-- ------------- -->
            <!-- submit button -->
            <!-- ------------- -->
            <div class="form-group d-flex justify-content-center">
                <button class="btn add-task-form-submit-button">Submit!</button>
            </div>

        </form>

    </div>

</div>

<%- include ("../partials/footer"); %>