<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>

<body>

    <div id="landing-header">
        <h1>Welcome to TodoApp!</h1>
        <a href="/lists" class="btn btn-lg btn-primary">View All Lists</a>
    </div>

    <div class="background"></div>

</body>

</html>