<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Delius&family=Permanent+Marker&family=Sriracha&family=Noto+Sans+JP:wght@500&family=Kanit:wght@300&family=Open+Sans&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing.css">
</head>

<body>

    <div id="landing-header">

        <div id="landing-title">
            Welcome to <br> <span>TodoApp</span>!
        </div>

        <div>
            <a href="/lists" class="btn btn-lg mt-3" id="landing-buttun">View All Lists</a>
        </div>

    </div>

    <div class="background"></div>

</body>

</html>