<!DOCTYPE html>
<html>

<head>
    <title>TodoApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>

    <div class="container">

        <h1>home page</h1>
        <a href="/lists" class="btn btn-primary">View All Lists</a>

    </div>

</body>

</html>