<!DOCTYPE html>
<html>

<head>

    <title>TodoApp</title>

    <!-- bootstrap: css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- bootstrap: jQuery, Popper.js, JavaScript plugins -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
        integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
    <!-- google fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Delius&family=Permanent+Marker&family=Sriracha&family=Noto+Sans+JP:wght@500&family=Kanit:wght@300&family=Open+Sans&display=swap"
        rel="stylesheet">
    <!-- landing.css -->
    <link rel="stylesheet" href="/stylesheets/landing.css">

</head>

<body>

    <script>

        // authCommand
        var authCommandDefine = '<%if(locals.authCommand){%>true<%}else{%>false<%}%>';
        if (authCommandDefine == 'true') {
            var authCommand = '<%- locals.authCommand %>';
        } else {
            var authCommand = 'not-define';
        }

    </script>

    <!-- background              -->
    <div class="background">

        <div id="landing-header">

            <!-- ----------------------- -->
            <!-- welocome messege        -->
            <!-- ----------------------- -->
            <div id="landing-title">
                <% if(!currentUser){ %>
                <br>
                <% } else { %>
                <span> <%= currentUser.username %></span>, <br> <!-- show username if connected -->
                <% } %>
                Welcome to <br> <span>TodoApp</span>!
            </div>


            <!-- ----------------------- -->
            <!-- buttons -->
            <!-- ----------------------- -->

            <!-- if a user is connected -->
            <% if(!currentUser){ %>
            <div>
                <!-- Login -->
                <button class="btn btn-lg mt-2 mx-2 landing-buttun" id="login-button" onclick="toggleAuthForms()">
                    <i class="fas fa-sign-in-alt pr-1"></i> Login
                </button>
                <!-- Register -->
                <button class="btn btn-lg mt-2 mx-2 landing-buttun" id="register-button" onclick="toggleAuthForms()">
                    <i class="fas fa-user-plus pr-1"></i> Register
                </button>
            </div>

            <!-- if no user is connected -->
            <% } else { %>
            <div>
                <!-- View Your Lists -->
                <a class="btn btn-lg mt-2 mx-2 landing-buttun" href="/lists">
                    <i class="fas fa-list pr-1"></i> View Your Lists
                </a>
                <!-- Logout -->
                <a class="btn btn-lg mt-2 mx-2 landing-buttun" href="/logout">
                    <i class="fas fa-sign-out-alt pr-1"></i> Logout
                </a>
            </div>
            <% } %>


            <!-- ----------------------- -->
            <!-- login/register forms    -->
            <!-- ----------------------- -->

            <!-- login form -->
            <div id="login-form" class="landing-form mx-auto mt-3">
                <form action="/login" method="post">
                    <div class="form-group mb-2">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group mb-2">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group mb-2">
                        <button class="btn btn-md landing-buttun-submit">Sign In</button>
                    </div>
                </form>
                <% if(error && error.length > 0 && errorType=='login') { %>
                <div class="landing-alert-flash p-1" id="login-alert-flash">
                    <p class="m-0"><span>ERROR: </span><%= error %></p>
                </div>
                <% } %>
            </div>

            <!-- register form -->
            <div id="register-form" class="landing-form mx-auto mt-3">
                <form action="/register" method="post">
                    <div class="form-group mb-2">
                        <input class="form-control" type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group mb-2">
                        <input class="form-control" type="password" name="password" placeholder="password">
                    </div>
                    <div class="form-group mb-2">
                        <button class="btn btn-md landing-buttun-submit">Sign Up</button>
                    </div>
                </form>
                <% if(error && error.length > 0 && errorType=='register') { %>
                <div class="landing-alert-flash p-1" id="register-alert-flash">
                    <p class="m-0"><span>ERROR: </span><%= error %></p>
                </div>
                <% } %>
            </div>

        </div>

        <!-- ----------------------- -->
        <!-- links                   -->
        <!-- ----------------------- -->
        <div class="landing-link">
            <a href="https://github.com/IlanitSmul/TodoApp"><i class="fab fa-github mx-1"></i></a>
            <a href="https://www.linkedin.com/in/ilanit-smul/"><i class="fab fa-linkedin mx-1"></i></a>
            <p>Created By Ilanit Smul</p>
        </div>

    </div>

    <script src="/events.js"></script>

</body>

</html>