/* *********************************** */
/* navbar */
/* *********************************** */

#navbar-brand {
    color: #2500ab;
    font-family: 'Sriracha', cursive;
}

/* *********************************** */
/* list overview */
/* *********************************** */

/* breadcrumb: list name and href to all lists */

.breadcrumb {
    background: none;
}

.breadcrumb-item+.breadcrumb-item::before { /* the sperator "/" */
    color: black; 
}

.list-overview {
    background: #ff992a;
    font-family: 'Noto Sans JP', sans-serif;
}

.breadcrumb-item a {
    color: #2500ab;
}

.list-title, .list-name, .breadcrumb-item.active{
    color: black;
}

.list-name, .list-title {
    margin-bottom: 0;
    padding: 0;
    border: none;
    width: 95%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.list-name:focus {
    border-radius: .25rem;
    outline: none;
    background: #ffbd74;
}
.active-data-editable { /* width of editable list name */
    overflow: hidden;
    width: 90%;
}

/* add task button + delete list button */

.list-overview-buttons .btn {
    background-color: #ffbd74;
}

/* *********************************** */
/* priority - colors */
/* *********************************** */

.card-color-High {
    background-color: rgb(242,120,143);
}
.card-color-Medium {
    background-color: rgb(227,229,70);
}
.card-color-Low {
    background-color: rgb(115,202,196);
}

.priority-color-High {
    background : rgb(255,151,173);
}
.priority-color-Medium {
    background  : rgb(243,244,160);
}
.priority-color-Low {
    background : rgb(0,255,255);
}

.fire-icon-color-High {
    color: red;
}
.fire-icon-color-Medium {
    color: orange;
}
.fire-icon-color-Low {
    color: royalblue;
}


/* *********************************** */
/* status - colors  todo: delete*/
/* *********************************** */

.status-btn-title {
    color: #2500ab;
    font-family: 'Permanent Marker', cursive;
}


/* *********************************** */
/* column header: status, number, add */
/* *********************************** */

.column-header > * {
    color: #2500ab;
    font-size: xx-large;
    font-family: 'Permanent Marker', cursive;
}

.column-header-add-task > * {
    color: #2500ab;
    font-size: x-large;
}


/* *********************************** */
 /* task card */
/* *********************************** */

/* card */
 .card {
    border-radius: 0%;
    border: none;
 }
.card-body {
    padding: 0.6rem;
}

/* task title */
.task-title {
    font-family: 'Sriracha', cursive;
    font-size: smaller;
}
.task-title a {
    text-decoration: none;
    color: inherit;
}

/* priority */
.priority {
    color: rgb(55, 53, 47);
    width: max-content;
    text-transform: uppercase;
    font-family: 'Delius', cursive;
    font-size: smaller;
}

/* due-date */
.due-date {
    max-width: fit-content;
}

/* status dropdown */
.dropdown-menu {
    min-width: min-content;
    border: none;
    border-radius: unset;
}


/* *********************************** */
/* icons  */
/* *********************************** */

i {
    color: rgba(55, 53, 47 ,0.4);
}

