/* priority - colors */

.priority{
    color: rgb(55, 53, 47);
    border-radius: 3px;
    width: max-content;
}

.High {
    background: rgba(255, 0, 0, 0.35);
}

.Medium {
    background: rgba(255, 153, 51, 0.5);
}

.Low {
    background: rgba(26, 228, 228, 0.5);
}

/* status - colors */

.status-btn-next-up {
    background: rgba(206, 205, 202, 0.5);
}
.status-btn-in-progress {
    background: rgba(233, 168, 0, 0.2);
}
.status-btn-complete {
    background: rgba(0, 135, 107, 0.2);
}


/* status titles line */

.status-btn-title{
    color: rgb(55, 53, 47);
    border-radius: 3px;
}

.status-btn-number{
    color: rgba(55, 53, 47 ,0.4);
    font-weight: 600;
}

.status-btn-plus{
    color: rgba(55, 53, 47 ,0.4);
    font-size: 0.9em;
}
 
 /* task card */

.card-body {
    padding: 0.6rem;
}

.due-date{
    max-width: fit-content;
}

/* icons  */

i {
    color: rgba(55, 53, 47 ,0.4);
}

